.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choiceGame {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 1em;
  max-width: 800px;
  max-height: 500px;
}

#homequizcard {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#homememorycard {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

#homequizrapidcard {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#homeH1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 3em;
}
