.classement h1 {
  margin-bottom: 1em;
}

.headClassement {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  background: rgb(255, 107, 107);
  border-radius: 0 0 10px 10px;
  padding: 0.5em;
  align-items: center;
}

.bodyClassement {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  padding: 0.5em;
}

.bgOpacity {
  background: rgb(204 91 91 / 79%) !important;
}

.container__bodyClassement {
  background: rgb(255, 107, 107);
  margin: 1em 1em;
  border-radius: 10px;
  padding: 0.5em 0;
}

.containerHeadeClassement {
  margin: 0 1em;
}

.containerBtnClassement {
  display: flex;
}

.containerBtnClassement li {
  width: calc(100% / 3);
}

.btnClassement {
  width: 100% !important;
  border: none !important;
}

.left {
  border-radius: 10px 0 0 0 !important;
}

.middle {
  border-radius: 0 !important;
}

.right {
  border-radius: 0 10px 0 0 !important;
}

.selectGameType {
  background: rgb(255, 107, 107) !important;
}
