* {
  margin: 0;
  padding: 0;
}

.loadingLogo {
  height: 40%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.cultureBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 3rem;
}

.cultureForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: rgb(255, 107, 107);
  border-radius: 30px;
  margin: 4rem;
  margin-bottom: 7rem;
  padding: 2rem;
  width: 60%;
}

.cultureSearch {
  width: 40%;
  padding: 0.5rem;
  text-align: center;
  background: rgb(38, 199, 240);
  align-items: center;
  border-radius: 50px;
}

#cultureFlags {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 10px;
  cursor: pointer;
}

.cultureFilter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  line-height: 0;
}

/* Scroll button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 70px;
  background: rgb(255, 107, 107);
  color: rgb(38, 199, 240);
  cursor: pointer;
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: rgb(38, 199, 240);
  color: rgb(255, 107, 107);
}

/* <------ Responsive ------> */

@media screen and (max-width: 1000px) {
  .cultureFilter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    line-height: 0;
  }

  .cultureSearch {
    width: 50%;
  }

  .loadingLogo {
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 750px) {
  #cultureFlags {
    height: 125px;
  }

  .cultureFilter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    line-height: 0;
  }

  .cultureSearch {
    width: 70%;
  }

  .loadingLogo {
    height: 60%;
    width: 60%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .loadingLogo {
    height: 80%;
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}
