.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
@media screen and (max-width:700px) {
	div.home {
		margin-top: 10vw;
	}
}

.choiceGame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, .3fr);
  gap: 10px;
  padding: 1em;
}
@media screen and (max-width:450px) {
	div.choiceGame {
		grid-template-columns:1fr;
	}
}

.homeQuizCard {
	grid-area: 2/1;
}
@media screen and (max-width:450px) {
	div.homeQuizCard {
		grid-area: 2/1 ;
	}
}

.homeMemoryCard {
	grid-area: 2/2;
}
@media screen and (max-width:450px) {
	div.homeMemoryCard {
		grid-area: 3/1;
	}
}

.homeQuizRapidCard {
	grid-area: 3/1/4/3;
}
@media screen and (max-width:450px) {
	div.homeQuizRapidCard {
	  grid-area: 4/1;
	}
}

.homeCultureCard {
	grid-area: 1/1/2/3;
}

.homeH1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 3em;
}

.linkDiv {
  text-decoration: none;
  color: inherit;
}

.linkDiv:focus:hover:visited:link:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .home h2 {
    font-size: 1em;
  }

  .home h3 {
    font-size: 1em;
  }
}

.logoPresentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: rgb(26, 83, 92);
  display: flex;
  justify-content: center;
}

.logoPresentation div {
  width: 100vh;
  position: relative;
}

.btnStart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37vh;
  height: 37vh;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: radial-gradient(circle at 100px 100px, #ff6b6b, #000);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: none;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 3em;
  color: rgb(78, 205, 196);
}

.btnStart:active {
  width: 35vh;
  height: 35vh;
  font-size: 2.5em;
}

.btnStart:hover {
  opacity: 1;
}
