.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.choiceGame {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 1em;
  max-width: 800px;
  max-height: auto;
}

.homeQuizCard {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.homeMemoryCard {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.homeQuizRapidCard {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.homeCultureCard {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.homeH1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 3em;
}

.linkDiv {
  text-decoration: none;
  color: inherit;
}

.linkDiv:focus:hover:visited:link:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .home h2 {
    font-size: 1em;
  }

  .home h3 {
    font-size: 1em;
  }
}

.logoPresentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: rgb(26, 83, 92);
  display: flex;
  justify-content: center;
}

.logoPresentation div {
  width: 100vh;
  position: relative;
}

.btnStart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37vh;
  height: 37vh;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: radial-gradient(circle at 100px 100px, #ff6b6b, #000);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: none;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 3em;
  color: rgb(78, 205, 196);
}

.btnStart:active {
  width: 35vh;
  height: 35vh;
  font-size: 2.5em;
}

.btnStart:hover {
  opacity: 1;
}

#airplane2 {
  display: none;
}
