.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.choiceGame {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 1em;
  max-width: 800px;
  max-height: auto;
}

.homeQuizCard {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.homeMemoryCard {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.homeQuizRapidCard {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.homeCultureCard {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.homeH1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 3em;
}

.linkDiv {
  text-decoration: none;
  color: inherit;
}

.linkDiv:focus:hover:visited:link:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .home h2 {
    font-size: 1em;
  }

  .home h3 {
    font-size: 1em;
  }
}
