.flagsCardsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* création grille 6 col donc 4 lignes puisque 24 objets */

  /* grid-auto-flow: dense; */
  width: 98%;
  height: 98%;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  margin: auto;
}

/* Media queries - mobile */
@media screen and (max-width: 600px) {
  .flagsCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* création grille 4 col donc 6 lignes puisque 24 objets */
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-gap: 8px;
  }
}
