.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.quizGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  width: 60%;
}

.choiceRegions {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-auto-flow: dense;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.choiceChallenge {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.choiceChallenge .card {
  width: 100%;
  height: 300px;
  margin: 0 10px;
}

#hidden {
  display: none !important;
}

.quizMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
