/*<-------------------  culture  ----------------->*/
#cultureFlags{
    height: 25%;
    width: 25%;
}
  
.cultureContainer {
    width: 70%;
    height: 100%;
    background: rgb(255, 107, 107);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7em;
    padding: 2em;
    border-radius: 50px;
    text-align: center;
}
  
.cultureCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cultureForm {
    width: 50%;
    padding: .5rem;
    text-align: center;
    background: rgb(38, 199, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
