.checkDifficult {
  background: rgb(255, 107, 107);
  width: 60%;
  border-radius: 20px;
  padding: 1em;
}

.checkDifficult h2 {
  margin: 0 0 1em 0;
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
}

.checkBox label input {
  margin: 0 1em;
}

/* input[type="radio"].radioDifficult  {
  display: none;
}

input[type="radio"].radioDifficult + label {
  position: relative;
  padding-left: 1.3rem;
}

input[type="radio"].radioDifficult + label::before,
input[type="checkbox"].radioDifficult + label::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  border-radius: 1rem;
}

input[type="radio"].radioDifficult + label::before {
  border: 1px solid rgb(78, 205, 196);
  background-color: white;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
}

input[type="radio"].radioDifficult + label::after {
  bottom: 3px;
  left: 3px;
  width: calc(1rem - 6px);
  height: calc(1rem - 6px);
}

input[type="radio"].radioDifficult:checked + label::after {
  background-color: rgb(78, 205, 196);
} */