.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 1em;
}

.header li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header a:not(.nohover) {
  text-align: center;
  padding-top: 2em;
  font-size: 1.7em;
  position: relative;
  color: #ff6b6b;
  text-decoration: none;
}

.header a #text {
  display: none;
}

.header a::after {
  transition: 0.3s ease-in-out;
  content: '';
  width: 0%;
  height: 3px;
  background: transparent;
  position: absolute;
  top: 3.3em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.active:not(.nohover)::before {
  content: '';
  width: 85%;
  height: 3px;
  background: #4ecdc4;
  position: absolute;
  top: 3.3em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.header a:not(.nohover):hover::after {
  width: 85%;
  background: #4ecdc4;
}

.logoheader {
  width: 180px;
  display: flex;
  justify-content: center;
}

.scale {
  transition: 0.3s ease-in;
}

.scale:hover {
  transform: scale(1.1);
}

.linkLogo:focus:hover:visited:link:active {
  text-decoration: none;
  color: inherit;
}

.linkLogo {
  text-decoration: none;
  color: inherit;
}

.contBtnHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;
}

#userImage {
  width: 100%;
}

#screenBackBlack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 700px) {
  .sectionHeader {
    display: block;
    height: 10vh;
    background-color: rgb(26, 83, 92);
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 100vw;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 83, 92);
  }

  .show-nav {
    right: 0vw;
    bottom: 0;
    height: 100vh;
    padding: 0;
  }

  .logoHeader {
    width: 100px;
    position: fixed;
    top: 0.7em;
    left: 1em;
  }

  .helpcontainer {
    padding: 1em;
  }

  .contBtnHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 5;
  }

  .burger {
    display: block;
    position: fixed;
    top: 4em;
    right: 3em;
    padding-bottom: 3em;
    z-index: 1;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #4ecdc4;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: '';
    position: absolute;
    right: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }

  .burger-bar::before .show-nav {
    transform: rotate(45°);
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45°);
  }
}
