.flagsCardsContainer {
  display: grid;
  margin: 0.5em;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  max-width: 100%;
}

.gridEasy {
  grid-template-columns: repeat(4, 1fr); /* création grille 4 col */
  grid-template-rows: repeat(3, 1fr);
}

.gridMedium {
  grid-template-columns: repeat(6, 1fr); /* création grille 6 col donc 4 lignes puisque 24 objets */
  grid-template-rows: (4, 1fr);

  /* grid-auto-rows: minmax(auto, 15vh); */
}

@media screen and (max-width: 600px) {
  .flagsCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* création grille 4 col */
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-gap: 8px;
  }
}
