.flagsCardsContainer {
  display: grid;
  margin: 0.5em;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  max-width: 100%;
  margin-bottom: 50px;
}

.gridEasy {
  grid-template-columns: repeat(4, 1fr); /* création grille 4 col */
  grid-template-rows: repeat(3, 1fr);
}

.gridMedium {
  grid-template-columns: repeat(6, 1fr); /* création grille 6 col */
  grid-template-rows: (4, 1fr);
}

/* Media queries */
@media screen and (max-width: 600px) {
  .flagsCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* création grille 4 col */
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-gap: 8px;
  }
}
