.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.modalContainer {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 60%;
  height: 80%;
  padding: 0.5rem;
  text-align: center;
  background: rgb(38, 199, 240);
  align-items: center;
  border-radius: 50px;
  outline: 100vh solid rgba(0, 0, 0, 0.507);
}

.modalContainer h3 {
  color: rgb(255, 107, 107);
  margin: 1.8rem;
  font-size: 25px;
}

.modalHeader {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader h1 {
  text-shadow: rgb(0, 0, 0) 1px 1px;
  margin-bottom: 1rem;
}

#modalFlag {
  width: 40%;
  border-radius: 20px;
  margin: 2rem;
}

.modalInfoOne {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.modalInfoTwo {
  display: grid;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.modalFullInfo {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
  align-content: center;
  height: max-content;
}

.modalFullInfo p {
  color: #ff6b6b;
  font-size: 25px;
  text-shadow: rgb(160, 114, 114) 1px 1px;
}

.modalFooter {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: -1;
  justify-items: center;
}

.modalFooter h2 {
  text-shadow: rgb(0, 0, 0) 1px 1px;
  margin-bottom: 1rem;
}

.modalBtn {
  padding: 0.5rem;
  width: 10rem;
  background-color: #ff6b6b;
  border-radius: 20px;
  cursor: pointer;
}

/* <--------- Responsive ---------> */

@media screen and (max-width: 1025px) {
  .modalFullInfo {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 20px;
    height: 80%;
  }

  .modalFullInfo p {
    font-size: 22px;
  }
}

@media screen and (max-width: 620px) {
  .modalHeader {
    display: flex;
    flex-direction: column;
  }

  #modalFlag {
    width: 52%;
    margin: 1rem;
  }

  .modalContainer {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 80%;
    outline: 100vh solid rgba(0, 0, 0, 0.507);
  }

  .modalContainer h3 {
    align-items: center;
  }

  .modalFullInfo {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 20px;
  }

  .modalBtn {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .modalFullInfo p {
    font-size: 22px;
  }

}

@media screen and (max-height: 700px) {

  .modalFullInfo p {
    font-size: 15px;
  }

}
