.profilContainer {
  width: 90%;
  height: 90%;
}

.navUser {
  display: flex;
  width: 100%;
  background: rgb(255, 107, 107);
}

.navUser li {
  width: calc(100%/4);
}

.navUser li button {
  background: rgb(252, 71, 71);
  width: 100%;
  padding: 0.5em;
  border: none;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-size: 1.5em;
}

.navUser li button:hover {
  background: rgb(255, 107, 107);
}

.select {
  background: rgb(255, 107, 107) !important;
}

.logOut {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 1.5em;
  width: 50px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.logOut:hover {
  animation: leaves 1s linear infinite;
}

.logOut img {
  width: 100%;
}

@keyframes leaves {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.profilUser {
  background: rgb(255, 107, 107);
  height: 100%;
  border-radius: 0 0 30px 30px;
}

.profilEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.profilEdit span {
  font-size: 1.8em;
}

.profilUser h2,
.badgeprofil h2 {
  color: rgb(78, 205, 196);
  text-transform: uppercase;
  font-size: 2.3em;
}

.scoresProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.scoresProfil h2 {
  margin: 0.5em 0;
}

.containerBadge {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 10px;
}

@media screen and (max-width: 550px) {
  div.containerBadge {
    grid-template-columns: repeat(2, 1fr);
  }
}

.containerBadge div {
  width: calc(100%/3);
  margin: 0 auto;
}

.containerBadge div img {
  width: 100%;
}

.userScores {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  background: rgb(252, 71, 71);
  border-radius: 0 0 10px 10px;
}

.title {
  color: rgb(78, 205, 196);
  letter-spacing: 3px;
  background: #ffe66d;
  padding: 0.3em 0;
  border-radius: 10px 10px 0 0;
  font-size: 1.5em;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

@media screen and (max-width: 550px) {
  div.title {
    letter-spacing: 0;
  }
}

.scoreUser {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.2em 0;
}

.btnProfil {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btnProfil:hover {
  letter-spacing: 2px;
  color: rgb(78, 205, 196);
}

.informationProfil {
  width: 50%;
}

.informationProfil input {
  background: transparent;
  border: 1px solid rgb(78, 205, 196);
  border-radius: 10px;
  padding: 0.5em 0;
}

.informationProfil p {
  padding: 0.5em 0;
}

.informationProfil h5 {
  margin-bottom: 0.3em;
  color: rgb(78, 205, 196);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.infoEditProfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2em;
  margin: 0 auto;
  background: #ffe66d;
  padding: 0.5em;
  border-radius: 10px;
  margin: 0.3em 0;
}

.contChangePassword {
  display: flex;
  margin: 0 auto;
}

.contChangePassword input {
  margin: 0 0.3em;
  padding: 0.3em;
}
