.questions {
  width: 70%;
  height: 150px;
  background: rgb(255, 107, 107);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  padding: 2em;
  border-radius: 50px;
}

.text {
  text-align: center;
}

.text h3,
.text p {
  margin: 0 0 1em 0;
}

.questions img {
  width: 100%;
}

.img {
  width: 15%;
}
