.registerModal {
  background: rgb(255, 107, 107);
  padding: 0.6em;
  width: 60%;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  transition-delay: 0.5s;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.noThanks {
  background: transparent;
  border: none;
  margin: 0.5em;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.noThanks:hover {
  letter-spacing: 1px;
}

.userFormRegister h2 {
  font-size: 1.2em;
}

.isHiddenDown {
  transform: translateY(100vh);
}
