.registerModal {
  background: rgb(255, 107, 107);
  padding: 1em;
  width: 60%;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  transition-delay: 0.5s;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.noThanks {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.noThanks:hover {
  letter-spacing: 1px;
}

.userFormRegister h2 {
  font-size: 1.2em;
}

.isHiddenDown {
  transform: translateY(100vh);
}

.registerMessage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.registerMessage p {
  font-size: 1.1em;
}

@media screen and (max-width: 450px) {
  div.registerMessage {
    display: flex;
    flex-direction: column;
  }

  div.registerMessage button {
    width: 100%;
  }
}

.registerMessage p span {
  color: rgb(26, 83, 92);
  font-size: 1.5em;
}
