@font-face {
  font-family: "fontTitle";
  src: url("./fonts/pathway-gothic-one-v9-latin-regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "fontTitle";
  text-align: center;
}

html {
  background: rgb(26, 83, 92);
}

.btn {
  background: rgb(255, 230, 109);
  border: 1px solid rgb(255, 230, 109);
  padding: 1em;
  border-radius: 50px;
  cursor: pointer;
  width: 10vw;
  transition: 0.3s ease-in;
  text-align: center;
}

.btn:hover {
  background: transparent;
}

.inpt {
  background: rgb(78, 205, 196);
  border: none;
  padding: 1em;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  margin: 5px 0;
}

.inpt:focus {
  outline: 2px solid rgb(255, 107, 107);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.errorMessage {
  color: red;
}

.inptUsers {
  width: 100%;
  padding: 14px 3px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #4a4a4a;
  border: none;
  background: transparent;
  outline: none;
}

.inptUsers:active {
  background: transparent;
}

.inptUsers::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: red;
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.redError::before {
  background: red;
}

/* Media queries - tablettes */
@media screen and (max-width: 600px) {
  .btn {
    width: 15vw;
    box-shadow: none;
    padding: 0.5em;
  }

  #restartBtn span {
    display: none;
  }

  #restartBtn::after {
    content: "Restart";
  }

  #difficultyBtn span {
    display: none;
  }

  #difficultyBtn::after {
    content: "Difficulty";
  }
}
