* {
  margin: 0;
  padding: 0;
  font-family: "fontTitle";
  text-align: center;
}

html {
  background: rgb(26, 83, 92);
}

li {
  list-style: none;
}

@font-face {
  font-family: "fontTitle";
  src: url("./fonts/pathway-gothic-one-v9-latin-regular.woff2");
}

.btn {
  background: rgb(255, 230, 109);
  border: none;
  padding: 1em;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgb(255, 107, 107);
  transition: 0.3s ease-out;
  width: 150px;
}

.btn:hover {
  background: transparent;
}

.inpt {
  background: rgb(78, 205, 196);
  border: none;
  padding: 1em;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  margin: 5px 0;
}

.inpt:focus {
  outline: 2px solid rgb(255, 107, 107);
}
